@media(max-width:992px){
    .main-content {
        width: var(--col-12);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__box{
        width: var(--col-8);
    }
    .main__box2{
        width: var(--col-8);
    }
    .box{
        margin-top: 30px;
    }
}
@media(max-width:768px){
    .nav__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    .nav__logo{
        margin-top: 10px;
    }
    .header-content{
        /* background-size: 100% 75%; */
    }
    .main__box {
        width: var(--col-10);
    }
    .main__box2 {
        width: var(--col-12);
    }
    .footers{
        display: flex;
        align-items: center;
    }
    .footer__all-links{
        display: block;
    }
    .footer__links1{
        padding: 0 0 0 15px;
    }
}